                <!-- Subscribe form and footer links -->
                <div class="row mt-3">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                      <div class="p-5 tm-bg-gray">
                          <h3 class="tm-text-primary mb-4">Author Links</h3>
                          <ul class="list-unstyled tm-footer-links">
                              <li><a href="https://www.linkedin.com/in/ibrahimsakaci" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                              <li><a href="https://www.github.com/jokerinya" target="_blank" rel="noopener noreferrer">Github</a></li>
                              <li><a href="https://www.twitter.com/jokerinya" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                          </ul>    
                      </div>                        
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                      <div class="p-5 tm-bg-gray h-100">
                          <h3 class="tm-text-primary mb-4">Our Pages</h3>
                          <ul class="list-unstyled tm-footer-links">
                              <li><a href="/">Photos</a></li>
                              <li><a href="/about">About Us</a></li>
                              <li><a href="/add">Add Photo</a></li>
                          </ul>
                      </div>                        
                  </div>
              </div> <!-- row -->

              <footer class="row pt-5">
                  <div class="col-12">
                    <p class="text-right">
                        <span id="date-year">
                            <script>
                            document.getElementById('date-year').appendChild(document.createTextNode(new Date().getFullYear()))
                            </script>
                       </span> - jokerinya
                    </p>
                  </div>
              </footer>
            </div> <!-- tm-content-container -->
          </div>
  
      </div> <!-- .tm-page-wrap -->
  
      <script src="/js/jquery-3.4.1.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>